html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #252525;
    color: #fff;
}

details{
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: #fff;
}
summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    
}
details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
h3{
    font-size: 24px;
    background-color: #2d8750;
    border: 2px solid #2d8750;
    border-radius: 100px 100px 20px 20px;
    color: #fff;  
    text-align: center;
    padding: 7px;
}

h4{
    border: 2px solid #fff;
    border-color: #878b00;
    border-radius: 10px;   
    padding: 4px;
    background-color: #878b00;
    color: #fff;
    text-align: center;
}
p{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 2em;
    text-indent: 3ch;
    font-family:'Courier New', Courier, monospace;
    color: #333333;
    text-align: justify;
    color: #fff;
}

a{
    padding: 4px;
    color: #878b00;
    text-decoration: none;
}

li{
    padding: 15px;

}

button{
    padding: 12px;
    width: 190px;
    cursor: pointer;
    background: #799b36;
    color: #fff;
    border-radius: 18px;
    transition: .5s ease;
}
button:hover {
    background: transparent;
    border: 2px solid #799be6;
    box-shadow: 0 0 10px #799b36 inset,
                0 0 10px 4px #799b36;
    border-radius: 10px;
}