body {
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

h2 {
    border: 2px solid #00003D;
    background-color: #00003D;
    color: #fff ;
    border-radius: 20px;
    padding: 10px;
    padding-top: 10px;
    font-size:25px;
}
h3 {
    border: 2px solid #00003D;
    background-color: #00003D;
    color: #fff ;
    border-radius: 20px;
    padding: 10px;
    padding-top: 10px;
    font-size:25px;
    
}

p{
    color:black;
    border: 3px solid rgb(255, 166, 0);
    border-radius: 12px;
    width: 350px;
    left: 200px;
    padding: 8px;
    font-family: "Times New Roman", Times, serif;
}

.skip-to-content {
    position: absolute;
    top: 5px;
    left: -999px;
    padding: 8px;

}
.skip-to.content:focus{
    left: 5px;
}

.fieldset {
    border: 2px solid #00003D;
    background-color: #00003D;
    color: #fa8072;
    font-family: "Times New Roman", Times, serif;
    padding: 9px;
}